*{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header{
    background-color: #2E948A;
    color: #ffffff;
    height: 117px; 
    display: flex;
    max-width: 100%;
    justify-content: center;
    gap: 37%;
    
}

.logo img{
    padding-top: 20px;
    margin-left: 5px;
     
}

header ul{
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
}

.listas ul li{
    margin-top: 47px;
    margin-left: 42px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

/* Main */

#title{
    text-align: center;
    margin-top: 2.5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;

    font-weight: 500;
    font-size: 50px;
    line-height: 57px;

    color: #ff4081;
}

#data{
    text-align: center;
    margin-top: 1.5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5.5%;

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #9d9d9d;
}

#foto-post{
    width: 1060px;
    height: 465px;

    background-color: #c4c4c4;
}

#conatainer{
    justify-items: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;

}


p{
    font-weight: 300px;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

h2{
    font-weight: 500;
    font-size: 26px;
    line-height: 29.87px;
    
    margin-top: 5%;
    margin-bottom: 3.5%;

    color: #419488;
}

#article{
    display: flex;

    background: #f7f7f7;
}

#tit2{
    text-align: center;

    font-weight: 500;
    font-size: 50px;
    line-height: 57px;

    color: #ff4081;
} 

h3{
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;

    margin-top: 10%;
    margin-bottom: -10%;

    background: #f7f7f7;
}

#article{
    display: flex;
    margin-top: 10%;

    background: #f7f7f7;
}

.img{
    width: 300px;
    height: 300px;
    margin-left: 15%;
    margin-bottom: 5%;
}

h4{
    margin-top: 5%;

    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #ff4081;
}

.parag{
    margin-top: 5%;
    margin-bottom: 5%;

    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

.button{
    margin-left: 30%;
    margin-bottom: 10%;

    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 18.47px 30px;
    
    background: #ff4081;
    border-radius: 62px;
    border: none;
    color: #ffffff;
}

footer{
    display: flex;
    background-color: #2E948A;
    height: 260px;
    justify-content: space-evenly;
}

footer ul{
    list-style: none;
    width: 71px;
    height: 83px;
    margin-top: 53px;
}

footer .lista ul li{
    line-height: 22.98px;
    font-size: 20px;
    padding-top: 10px;
}

footer button{
    border-radius: 62px;
    color: #ffffff;
    background-color: #2E948A; 
    border: solid #ffffff;
    width: 289px;
    height: 51px;
    font-weight: 400;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    font-style: regular;
}

.paozinho button{
    display: flex;    
}

div .superior{
    margin-top: 50px;
    padding-left: 25%;
}

div .baixo{
    margin-top: 13px;
    padding-left: 21%;
}

.rodape{
     margin-top: 50px;
}

@media (max-width: 480px) {

    /* Header */

    header{
        flex-wrap: wrap;
        gap: 0;
        height: 175px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .logo img{
        padding-top: 5px;
        margin: 0;
    }

    /* Main */

    #foto-post{
        width: 300px;
        height: 150px;
        margin-left: 10%;
    }

    h3{
        font-weight: 300;
        font-size: 20px;
        line-height: 37px;

        margin-left: 15%;
        margin-right: 20%;
    }

    #article{
        display: grid;
    }

    .img{
        width: 300px;
        height: 300px;

        margin-left: 10%;
    }

    h4{
        font-size: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .parag{
        font-size: 15px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .button{
        margin-left: 25%;
    }

    footer{
        flex-wrap: wrap;
         flex-direction: column; 
        align-items: center;
    }

    .lista{
           height: 40px;
         padding: 0;
         width: 312px;
    }

    .lista ul{
        display: flex;
       padding: 0;
       margin: 0;
       gap: 90%;

    }

    .rodape{
         margin-top: 0;

    }

    div .superior{
        margin: 0;
        width: 160px;
        font-size: 14px;
        margin-right: 15px;
        padding-left: 9%;

    }

    div .baixo{
        margin: 0;
        width: 160px;
        font-size: 14px;
        padding-left: 5%;
    }
    
    .paozinho{
        display: flex;
    }
}

@media (min-width: 481px) and (max-width: 1024px){
    header{
        flex-wrap: wrap;
        gap: 0;
        height: 175px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

    .logo img{
        padding-top: 5px;
        margin: 0;
    }

    #foto-post{
        width: 600px;
        height: 300px;
    }

    .img{
        width: 200px;
        height: 200px;
    }

    h4{
        font-size: 25px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .parag{
        font-size: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .button{
        margin-left: 15%;
    }
}
